<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="#19202b">
    <meta name="theme-color" content="#19202b">
    <meta name="msapplication-navbutton-color" content="#19202b">
</head>

<div class="album text-muted">
  <div class="container">
    <%= source_helper("alert alert-warning") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>