<h1>Pages#contact</h1>

<p><%= number_to_phone "8015555555" %></p>

<p><%= number_to_currency "1000000" %></p>

<p><%= number_to_percentage "95.3678543453278374" %></p>

<p><%= number_with_delimiter "3784537" %></p>
