<h1>How to contact me.</h1>

<hr>

<div class="row">
    <div class="col-md-6">
        <h3>School Address</h3>
        
        <p>5715 S 1300 E, Murray, UT 84121</p>
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "8015555555" %></p>
        
        <h3>Email</h3>
        
        <p><a href="mailto:test4@test.com?subject=PortfolioContact" "email me">Have any more questions?</a></p>
    </div>
    
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.2259382846846!2d-111.85435468422557!3d40.64694967933902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752620b08700f4b%3A0xd6d6bc49e28b05c1!2sCottonwood+High+School!5e0!3m2!1sen!2sus!4v1500311527569" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>