<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="#19202b">
    <meta name="theme-color" content="#19202b">
    <meta name="msapplication-navbutton-color" content="#19202b">
</head>


<div class="inner cover keep-away-nav">
    <%= image_tag "logo.png", :width => "75%" , alt: "logo"%>
</div>
<div id=divcontainer class="inner cover">
            <div id=1 class="content" data-text="Hey everyone, welcome to my portfolio.">Hey everyone, welcome to my portfolio.</div>
                <p class="lead">"Patience. Sometimes patience is the key to victory. Sometimes it leads to very little and it seems like it's not worth it, and you wonder why you waited so long, ...for something so disappointing." -Captain America</p>
                <p class="lead">
                    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
                </p>
            </div>
</div>

