<div class="inner cover">
    <h1 class="cover-heading">"Hey everyone."</h1>
    <p class="lead">"Patience. Sometimes patience is the key to victory. Sometimes it leads to very little and it seems like it's not worth it, and you wonder why you waited so long, ...for something so disappointing." -Captain America</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>