<div class="inner cover">
    <h1 class="cover-heading">"Hey everyone."</h1>
    <p class="lead"> The son of odin shall have that cookie, huzzah!</p>
    <p class="lead">
      <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>

