<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="#19202b">
    <meta name="theme-color" content="#19202b">
    <meta name="msapplication-navbutton-color" content="#19202b">
</head>

<div class="inner cover keep-away-nav">
    <h2 class="cover-heading">Rails News On Twitter</h2>
    
    <div class="row">
        <% @tweets.each do |tweet| %>
            <div class="col-md-6">
                <div class="tech-news">
                    <div class="card">
                        <%= twitter_parser tweet %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

