
<head>
    <meta name="apple-mobile-web-app-status-bar-style" content="#19202b">
    <meta name="theme-color" content="#19202b">
    <meta name="msapplication-navbutton-color" content="#19202b">
</head>

<div class="app-card-container keep-away-nav">
    <div class="card">
       <h1>My Photography and Art.</h1>
       <hr>
       <p>(Currently in the works!)</p>
    </div>
</div>